[submodule "src-tauri/bin/ainb"]
	path = src-tauri/bin/ainb
	url = https://github.com/dt-12345/ainb.git
[submodule "src-tauri/bin/asb"]
	path = src-tauri/bin/asb
	url = https://github.com/dt-12345/asb.git
