:root {
  --main-top-offset: calc(var(--menu-bar-h) + var(--tab-switcher-h) + var(--buttons-h) + 30px);
}

.code_editor {
  position: absolute;
  /* Position relative to the body or nearest positioned ancestor */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  margin-top: var(--main-top-offset);
  margin-bottom: 35px;
  font-family: "codicon";
  /* margin-left: 2px;
  margin-right: 2px; */
}

.rstb-tree {
  font-size: 15px;
  background-color: #1E1E1E;
  position: absolute;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  margin-top: var(--main-top-offset);
  margin-bottom: 88px;
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  overflow-y: auto; /* Added to allow scrolling */
  overflow-x: hidden; /* Optional: to prevent horizontal scrolling */
}
.rstb-node {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  color: white;
  transition: background-color 0.2s ease;

}



.directory-tree {
  font-size: 15px;
  background-color: #1E1E1E;
  position: absolute;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  margin-top: var(--main-top-offset);
  margin-bottom: 45px;
  margin-left: 0px;
  padding-left: 15px;
  padding-top: 15px;
  overflow-y: auto; /* Added to allow scrolling */
  overflow-x: hidden; /* Optional: to prevent horizontal scrolling */
}
.node-children {
  overflow: hidden;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  max-height: 0;
  opacity: 0;
  margin-left: -10px;
  padding-bottom: 2px;
}


.node-children.expanded {
  max-height: 1000px; /* Adjust based on the expected maximum height */
  opacity: 1;
}

.context-menu {
  position: fixed;
  left: 0;
  top: 0;
  margin: 10 10px;
  background-color: #333;
  color: white;
  /* padding: var(--menu-bar-padding) 0; */
}

.context-menu-item {
  cursor: pointer;
  /* margin-bottom: 5px; */
  padding: 2px 5px;
}

.context-menu-item:hover {
  background-color: #515151;
  color: white; /* Optionally change the text color for better contrast */
}
.textsearch {
  position: fixed;
  display: flex ;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #555555;
  color: white;
  /* padding: 5px; */
  text-align: left;
  margin-bottom: 35px;
  /* margin-right: 20px; */
  /* z-index: 1; */
}

















.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.modal-content {
  background-color: #555555;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001; /* Above the overlay */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-header {
  margin-bottom: 20px;
}

.modal-row {
  display: flex;
  margin-bottom: 10px;
}

.modal-input {
  flex-grow: 1;
  /* margin-right: 10px; */
}

.modal-row-button {
  /* Styles for your row buttons */
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer-button {
  /* Styles for your Ok and Cancel buttons */
  margin-left: 10px;
}
.modal-footer-button-disabled {
  background-color: #ccc; /* Grey background */
  color: #666; /* Dark grey text */
  pointer-events: none; /* Remove pointer events */
  cursor: default; /* Reset cursor */
}
