.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
.directory-tree {
  font-size: 20px;
  background-color: #1E1E1E;
  position: absolute;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  margin-top: 130px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 15px;
  padding-top: 15px;
}
.node-children {
  overflow: hidden;
  transition: max-height 0.2s ease, opacity 0.2s ease;
  max-height: 0;
  opacity: 0;
  margin-left: -10px;
  padding-bottom: 2px;
}


.node-children.expanded {
  max-height: 1000px; /* Adjust based on the expected maximum height */
  opacity: 1;
}

.context-menu {
  position: fixed;
  left: 0;
  top: 0;
  margin: 10 10px;
  background-color: #333;
  color: white;
  /* padding: var(--menu-bar-padding) 0; */
}

.context-menu-item {
  cursor: pointer;
  /* margin-bottom: 5px; */
  padding: 2px 5px;
}

.context-menu-item:hover {
  background-color: #515151;
  color: white; /* Optionally change the text color for better contrast */
}