:root {
  font-family: Consolas, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --menu-bar-padding: 10px;
  --menu-bar-h: 25px;
  --tab-switcher-h: 30px;
  --buttons-h: 30px;
  
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
  white-space: nowrap;
  overflow: auto; /* or 'hidden' if you do not want a scrollbar */

  color: #0f0f0f;
  background-color: #f6f6f6;
  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

.activetab {
  margin-left: -20px;
  margin-right: -8px;
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center; /* Centered vertically */
  flex-wrap: wrap;
  margin-top: var(--menu-bar-h);
  /* font-family: 'Nunito', sans-serif; Make sure to include the font in your project */
  background-color: #0f0f0f;
  white-space: nowrap;
  overflow: hidden; /* or 'hidden' if you do not want a scrollbar */
}

.activetab label {
  padding: 4px 10px; /* Adjust padding to suit your design */
  margin: 5px; /* Space between labels */
  /* margin-left: 20px; Space between labels */
  border: 1px solid transparent; /* Transparent border to maintain size on hover */
  border-radius: 4px; /* Slightly rounded corners for the labels */
  background-color: #3D437E; /* Inactive background color */
  color: white; /* White text for both active and inactive */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for hover and active effects */
  cursor: pointer; /* Indicates that labels are clickable */
  user-select: none; /* Prevents text selection */
}


.activetab label:hover { /* Added .active class for when label is active */
  background-color: #007bff73; /* Active background color */
  border-color: #007bff; /* Active border color to match the background */
}

.activetab label.active { /* Added .active class for when label is active */
  background-color: #007bff; /* Active background color */
  border-color: #007bff; /* Active border color to match the background */
}

.activetablabel {
  margin-left: auto; /* Push the element to the right */
  padding-right: 5px;
  /* width: 100%; */
}
.pathlist {
  margin-left: -5px;
  display: flex; /* Align children (buttons) in a row */
  justify-content: flex-start; /* Align buttons to the start of the container */
  align-items: flex-start; /* Align buttons to the start of the container vertically */
  flex-wrap: wrap; /* Allow buttons to wrap to the next line on small screens */
  margin-top: 50px ; /* Adjusted margin-top */

}

.buttons-container {
  margin-left: -10px;
  margin-right: -8px;
  padding: 5px 10px 10px 10px; 
  display: flex; /* Align children (buttons) in a row */
  justify-content: flex-start; /* Align buttons to the start of the container */
  align-items: flex-start; /* Align buttons to the start of the container vertically */
  flex-wrap: wrap; /* Allow buttons to wrap to the next line on small screens */
  margin-top: 0px ; /* Adjusted margin-top */
  background-color: #232529;

}



input,
button {
  border-radius: 0px;
  border: 2px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #b6b6b6;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}
.button:hover {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay on hover */
}


#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

/* .code_editor {
  position: absolute;
  /* Position relative to the body or nearest positioned ancestor 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  margin-top: calc(var(--menu-bar-h) + var(--tab-switcher-h) + var(--buttons-h) + 40px);
  margin-bottom: 35px;
  font-family: "codicon";
  /* margin-left: 2px;
  margin-right: 2px; 
} */

.full-height-backup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 20px;
  font-family: "codicon";
}

.statusbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: left;
  z-index: 1000;
}

/* Updated styles in App.css */
.menu-bar {
  text-align: left;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  justify-content: left;
  /* padding: var(--menu-bar-padding) 0; */
  z-index: 1000; /* Ensures menu bar is above other content */
  height: var(--menu-bar-h); /* Example height */
}

.menu-item {
  margin: 0 0px;
  min-width: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 2px 6px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.menu-item:hover {
  background-color: #444;

}
.dropdown-content {
  left: 0px;
  text-align: left;
  /* left: calc(var(--menu-bar-padding) * -1); */
  display: none; /* Initially hidden */
  position: absolute;
  /* background-color: #f9f9f9; */
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001; /* Ensures dropdown content is above the menu bar */
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  background-color: #333;
  padding: 2px 6px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #515151}

.menu-item:hover .dropdown-content {
  display: block; /* Show dropdown content on hover */
}


.dropdown-content a:hover {
  background-color: #515151;
}

