@font-face {
  font-family: codicon;
  src: url("codicon.ttf?54702f639320b60466e6f56678165405") format("truetype")
}

.logo.yew:hover {
  filter: drop-shadow(0 0 2em #20a88a);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {

  margin: 0;
  padding-top: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}


.full-height {
  position: absolute;
  /* Position relative to the body or nearest positioned ancestor */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 20px;
  font-family: "codicon";
}

.full-heightxxx {
  position: relative;
  /* Position relative to the body or nearest positioned ancestor */
  flex-grow: 1;
  resize: none;
  border-radius: 0;
  margin: 10px;
  padding: 10px;
  width: calc(100% - 10px);
  height: fit-content;
  overflow: auto;
  text-align: left;
}

/* style.css */
.menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu-bar li {
  float: left;
  position: relative; /* Needed for absolute positioning of dropdown */
}

.menu-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px; /* Adjust as needed to make squares */
  text-decoration: none;
}

.menu-bar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px; /* Set minimum width for dropdown items */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-bar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-bar .dropdown-content a:hover {background-color: #f1f1f1;}


.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style for the dropdown items */
.dropdown-content a {
  color: black;
  padding: 2px 6px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}